@model IEnumerable<BusinessLogicLayer.Models.Country>

@{
    ViewData["Title"] = "GetCountryList";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>GetCountryList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CName)
            </th>
            <th>
                Sname
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CName)
                </td>
                <td>

              
                @foreach (var data in item._state)
                {
                    
                    <ol>
                        <li>
                            @Html.DisplayFor(modelItem => data.StateName)
                        </li>

                    </ol>
                }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
