@model WebAppMVCLayred.Controllers.Student

@{
    ViewData["Title"] = "Page3";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Page3</h1>


@foreach (var item in ViewData["stddata"] as List<WebAppMVCLayred.Controllers.Student>)
{
    <ol>
        <li>
            @item.Id

        </li>
        <li>
            @item.Name

        </li>
        <li>
            @item.Course

        </li>
        <li>
            @item.Fee

        </li>
    </ol>
}


<p>
    Session value @ViewBag.sessionvalue
</p>